<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="Conecta" value="server=localhost\sqlexpress;database=DBLEDEER;uid=sa;pwd=vgfm169asm@@~~;" />
		<add key="GroupwareService.GroupwareService" value="http://localhost/LEDEER/Service.asmx" />
	</appSettings>
	<connectionStrings><add name="DBLEDEEREntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVKEY-XPS\SQLSERVER;initial catalog=DBLEDEER;persist security info=True;user id=coral;password=a1s2d3;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
	<system.web>
		<httpHandlers>
			<!-- Register the ajax handler -->
			<add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory,Ajax" />
		</httpHandlers>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" /></system.web>
	<location path="login.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="frmBlogs.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="frmMenu.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="frmRegistro.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="frmTemas.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="frmComentarios.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="frmLogon.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="GroupwareService.asmx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<security>
			<authentication>
				<windowsAuthentication enabled="true" />
			</authentication>
		</security>
        <handlers>
            <add name="ajax/*.ashx_POST,GET" path="ajax/*.ashx" verb="POST,GET" type="Ajax.PageHandlerFactory,Ajax" preCondition="integratedMode,runtimeVersionv2.0" />
        </handlers>
	</system.webServer>
</configuration>
