<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITaskCatcher" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2258/Services/TaskCatcher.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITaskCatcher" contract="ServiceReference1.ITaskCatcher" name="BasicHttpBinding_ITaskCatcher" />
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>